.footer {
    padding-top: 40px;
    padding-bottom: 90px;
    background-color: #FAFAFA;
}

.footer__list {
    display: flex;
    justify-content: space-between;
}


.footer__text {
    width: 250px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(16, 16, 16, 1);
}


.footer__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: rgba(16, 16, 16, 1);
    margin-bottom: 35px;
}

.footer__text--bottom {
    margin-top: 135px;
}
.footer__link {
  color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}

.footer-ul__li__social-media {
    margin-top: 20px;
}