@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 300;
    src: url("../fonts/Lato-Thin.woff2") format('woff2');

}

@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 400;
    src: url("../fonts/Lato-Light.woff2") format('woff2');

}


@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 500;
    src: url("../fonts/Lato-Regular.woff2") format('woff2');
}


@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 700;
    src: url("../fonts/Lato-Bold.woff2") format('woff2');
}


@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 900;
    src: url("../fonts/Lato-Black.woff2") format('woff2');
}


.container {
    width: 1115px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: Lato, sans-serif;
}

