.stay-focused {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(237, 76, 92, 1);

}

.stay-focused__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.stay-focused__text {
    width: 450px;
}

.stay-focused__map__wrapper {
    width: 540px;
    border: 1px solid rgba(237, 76, 92, 1);
    border-radius: 15px;
}

iframe {
    border: 1px solid rgba(237, 76, 92, 1);
    border-radius: 15px;
}



.stay-focused__title{
    margin-bottom: 35px;
}

.stay-focused__text {
    margin-bottom: 40px;
    color: #FFFFFF;
}

.stay-focused__platforms {
    display: flex;
    gap: 30px;
}