/*название одно, меняться будет только от font-weight*/

@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 300;
    src: url("fonts/Lato-Thin.woff2") format('woff2');
    /*style: normal;*/
}

@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 400;
    src: url("fonts/Lato-Light.woff2") format('woff2');
    /*style: normal;*/
}


@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 500;
    src: url("fonts/Lato-Regular.woff2") format('woff2');
    /*style: normal;*/
}


@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 700;
    src: url("fonts/Lato-Bold.woff2") format('woff2');
    /*style: normal;*/
}


@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 900;
    src: url("fonts/Lato-Black.woff2") format('woff2');
    /*style: normal;*/
}


.container {
    width: 1110px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: Lato, sans-serif;
}

.navmenu-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
}

.hero-wrapper {
    background: url("../src/img/Rectangle3.jpg");
    width: 1110px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 50px;
}

header > div > a {
    display: flex;
    gap: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 18px;
    color: #FFFFFF;
    align-items: center;
}

header > div > button {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    align-items: center;
}


.header-menu > ul {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    gap: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

.header-menu a {
    color: #FFFFFF;
}

.navmenu-button-wrapper button {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
}

h1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
    color: #FFFFFF;
}

.hero-wrapper p {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: #FFFFFF;
    margin-bottom: 60px;
}


.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-wrapper button {
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ED4C5C;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-bottom: 170px;
}

.easy-to-use {
    padding-top: 95px;
    padding-bottom: 95px;
}

.easy-to-use > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.easy-to-use-text-wrapper h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 60px;
}

.easy-to-use-text-wrapper p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

.features {
    padding-top: 63px;
    padding-bottom: 60px;
}

.features h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 65px;
    text-align: center;
}

.features ul {
    display: flex;
    gap: 30px;
}

.features-cards-text {
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 35px;
    width: 295px;
    text-align: center;
    transform: translate(25px, -100px);
}

.features-cards-text h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.features-cards-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.features-cards-text a {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    color: #ED4C5C;
    margin-bottom: 25px;
}


.technology {
    padding-bottom: 100px;
}

.technology h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 60px;
    text-align: center;
}

.technology ol {
    display: flex;
    justify-content: space-between;

}

.technology li {
    width: 255px;
    text-align: center;
}

.technology li img {
    height: 60px;
    transform: translate(0px, -50px);
}

.li-number {
    font-weight: 700;
    font-size: 100px;
    line-height: 1.2;
    color: rgba(16, 16, 16, 0.08);
}

.technology h3 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    transform: translate(0px, -20px);
}


.technology p:last-of-type {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}

.stay-focused {
    background-color: #ED4C5C;
}

.stay-focused >div {
    display: flex;
    align-items: center;
    gap: 80px;

}

.stay-focused-text-wrapper {
    width: 450px;
}

.stay-focused h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.stay-focused p {
  font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.stay-focused iframe {
   padding: 40px;
    border: 1px solid #ED4C5C;
    border-radius: 55px;
    margin-top: 30px;
    margin-bottom: 30px;
}