/*название одно, меняться будет только от font-weight*/

@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 300;
    src: url("fonts/Lato-Thin.woff2") format('woff2');
    /*style: normal;*/
}

@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 400;
    src: url("fonts/Lato-Light.woff2") format('woff2');
    /*style: normal;*/
}


@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 500;
    src: url("fonts/Lato-Regular.woff2") format('woff2');
    /*style: normal;*/
}


@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 700;
    src: url("fonts/Lato-Bold.woff2") format('woff2');
    /*style: normal;*/
}


@font-face {
    font-family: Lato;
    font-display: swap;
    font-weight: 900;
    src: url("fonts/Lato-Black.woff2") format('woff2');
    /*style: normal;*/
}

body {
    font-family: Lato, sans-serif;
}

.header {
    background-image: url("img/Rectangle 3.jpg");
    width: 1440px;
    height: 782px;

  /*color: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);*/
}
header p {
    font-family: Lato-Bold, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: white;
    font-weight: 700;
    display: flex;
    flex-direction: row;
}

button {
    min-width: 160px;
}

header > nav a {
    line-height: 1.2;
    font-family: Lato-Regular, sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 700;
}


header > nav > ul > li:first-of-type {
    font-size: 20px;
}

header > nav > ul{
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
}

header img {
    display: flex;
    flex-direction: row;
    padding: 20px;
}



h1 {
    font-family: Lato-Black, sans-serif;
    font-size: 72px;
    /*700*/
    font-weight: 700;
    color: white;
    text-align: center;
}

h2 {
    font-family: Lato-Bold, sans-serif;
    font-size: 36px;
    /*700*/
    font-weight: 700;
    line-height: 1.2;
}

p {
    font-family: Lato-Light, sans-serif;
    font-size: 16px;
line-height: 1.4;
}




header>nav> button{
    display: flex;
    flex-direction: row;
    font-family: Lato-Regular, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #ED4C5C;
    background-color: transparent;
    border-width: 1px;
    width: 160px;
    height: 60px;
    border-radius: 6px;;
    text-align: center;
}

.header button:last-of-type {
    font-family: Lato-Regular, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #ED4C5C;
    background-color: white;
    width: 160px;
    height: 60px;
    border-radius: 6px;
}




.cloudbudget-hero p:first-of-type {
    font-size: 24px;
    line-height: 1.5;
    font-family: Lato-Regular, sans-serif;
    color: #FFFFFF;
    text-align: center;
}

.cloudbudget-hero p {
    font-family: Lato-Light, sans-serif;
    /*400 is default*/
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
}

.cloudbudget-hero p:first-of-type {
    font-family: Lato-Light, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
}

.cloudbudget-hero img {
    width: 540px;
}

.container {
    width: 1440px;
}

.easy-to-use {
    display: flex;
    flex-direction:column;
    margin-bottom: 63px;
}

.easy-to-use h2 {
    margin-bottom: 56px;
}

.easy-to-use p {
    padding-bottom: 165px;
}

.easy-to-use-img {
  float: right;
    margin-bottom: 63px;
}

.features {
    background-color: #FAFAFA;
    text-align: center;
    padding-bottom: 190px;

}

.features div>ul {
    margin-right: auto;
    margin-left: auto;
}

.features ul {
    margin-right: auto;
    margin-left: auto;
    padding-top: 158px;
    display: flex;
    justify-content: space-between;
}

.features ul>li {
    gap: 30px;
}
.features ul > li > h3 {
    font-family: Lato-Bold, sans-serif;
    font-size: 18px;
    line-height: 1.2;
/*    line height*/
}

.features ul > li > a {
    color: #ED4C5C;
    font-family: Lato-Bold, sans-serif;
}

.features ul > li > p {
    font-family: Lato-Regular, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.features ul>li>img {
    display: flex;
    width: 350px;
margin-right: 30px;
}


.technology {
    text-align: center;
    height: 500px;
}

.technology ol {
    display: flex;

}

.technology h2 {
    margin: 60px 60px;
}

.technology ol > li > h3 {
    font-family: Lato-Bold, sans-serif;
    font-size: 18px;
    line-height: 1.2;
}

.technology ol > li > p {
    font-family: Lato-Regular, sans-serif;
    font-size: 14px;
    line-height: 1.2;
}

.map-navigation {
    background-color: #ED4C5C;
}


.map-navigation h2 {
    font-family: Lato-Bold, sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    color: white;

}

.map-navigation p {
    font-family: Lato-Light, sans-serif;
    font-weight: 400;
    color: white;
    line-height: 1.2;
}

.contact div:first-of-type {
    display: flex;
    width: 500px;
    float:left;
    margin-right: 120px;
    margin-top: 125px;
}

.contact div:last-of-type {
    display: flex;
    width: 500px;
    margin-right: 120px;
    margin-top: 125px;
    float:right;
}



.contact form > label {
    font-family: Lato-Light, sans-serif;
    font-size: 16px;
line-height: 1.2;
}



.contact h2 {
    font-family: Lato-Bold, sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
}

.contact p {
    font-family: Lato-Light, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

.contact form {
    font-family: Lato-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

.contact form > input {
    width: 255px;
    height: 65px;
    border-radius: 6px;
}

#select-service {
    width: 540px;
    height: 65px;
    border-radius: 6px;
    background-color: white;
    color: #13274380;

}

.contact button {
    background-color: #ED4C5C;
    color: white;
    width: 160px;
    height: 65px;
    border-radius: 6px;
    text-transform: uppercase;
}

footer ul {
    display: flex;
    justify-content: space-between;

}

footer div>ul>li {
flex-direction: column;
gap: 30px
}

footer > ul > li > h2 {
    color:  #101010;
}

footer ul > li > h2 {
    font-family: Lato-Bold, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: black;
}


footer ul > li > p, a {
    font-family: Lato-Light, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
}




/*
 Selectors

header nav > ul > li:first-letter {
    font-size: 30px;
}

header nav > ul[title^='li'] {
    color: fuchsia;
}


a[href^="#"]:hover {
    font-size: 40px;
}

[title*='bu'] {
    font-size: large;
}


[href$='more'] {
    color: darkorchid;
}
*/

